backend/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text

# Ensure that all text files use LF line endings in the repository,
# but convert them to CRLF on checkout in Windows environments
* text=auto eol=lf
